.marquee-container {
  width: 100%;
  overflow: hidden;
  margin-top: 60px; 
}

.marquee-text {
  font-size: 2rem;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
  color: #d02613;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}




