.marquee-container {
  width: 100%;
  overflow: hidden;
  margin-top: 60px; 
}

.marquee-text {
  font-size: 2rem;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
  color: #d02613;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.weather-box {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  height: 300px; /* Box quadrato */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.weather-box h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.weather-box img {
  width: 80px;
  height: 80px;
  background-color: #9ad1f3;
  border-radius: 50%;
  padding: 5px;
}

.weather-details {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-details p {
  margin: 3px 0;
}

.weather-date {
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 5px;
}



