.navbar-custom {
    background-image: url('../Assets/3810734-camerun-realistico-sventolando-bandiera-design-vettoriale.jpg');
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat; 
  opacity: 1.3;
  }
  